:root {
    --fotor: hsl(171, 46%, 55%);
    ---Strong--cyan: hsl(172, 79%, 55%), ;
    ---Very--dark--cyan: hsl(183, 100%, 15%);
    ---Dark--grayish--cyan: hsl(186, 14%, 43%);
    ---Grayish--cyan: hsl(184, 14%, 56%);
    ---Light--grayish--cyan: hsl(185, 41%, 84%);
    ---Very--light--grayish--cyan: hsl(189, 41%, 97%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    ---Very-Dark-Magenta: hsl(300, 43%, 22%);
    ---Soft-Pink: hsl(333, 80%, 67%);
    ---Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    ---Light-Grayish-Magenta: hsl(300, 24%, 96%);
    ---White: hsl(0, 0%, 100%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 1, 20);
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
    overflow-x: hidden;
    position: relative;
}

header {
    background: url("./image/download.svg") top 2em left 6em/ 215% auto no-repeat,
        linear-gradient(to bottom, hsl(172, 79%, 35%), hsl(172, 79%, 55%), hsl(172, 79%, 70%));
    background-size: 100% 100%;
    padding: 2rem 5rem;
    color: white;
    border-bottom-left-radius: 20%;
}

.logo figure {
    padding: 0;
    margin: 0;
    width: 22rem;
    height: 22rem;
    opacity: 0.9;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
}

header nav ul {
    padding: 8rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;

}

header nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: inherit;
    padding: 0;
    margin: 0;
}

.logo h2 {
    font-size: 1.5rem;

}

header nav ul a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

#return,
.laststep button,
nav button,
#done {
    background-color: hsl(172, 92%, 48%);
    color: white;
    border: 0;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    margin-inline: 1rem;
    background-color: hsl(172, 79%, 35%), ;
    font-size: 1.5rem;
}

#return,
.laststep button,
nav button:hover,
#done:hover {
    background-color: hsl(172, 100%, 70%);
    outline: 0.01px solid white;
}

.headtext {
    text-align: center;
    padding-block: 5rem;
}

.topic {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.sec-one {
    text-align: center;
    color: white;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

}

.sec-one .textone {
    align-self: center;
    padding: 2rem 0;

}

.sec-one .textone p {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.627);

}

.sec-one h1 {
    text-transform: uppercase;
}

.sec-two {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.candidates {
    color: rgba(255, 255, 255, 0.607);
    text-transform: uppercase;
    width: 105%;
    text-align: center;
    overflow: hidden;
    padding: 4rem;
    border-top-right-radius: 10rem;
    margin: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(11, 1, 20);
    transform-origin: left;
}

.card {
    margin-inline: 0.5%;
    display: flex;
    justify-content: center;
    height: 42rem;
    flex: 1;
    position: relative;
    transform: skewX(12deg);
    transition: all 1s ease-in;
    overflow: hidden;
    /* animation: scroller; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 5s;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in;
    filter: grayscale(2);

}

.card:hover {
    flex-grow: 12;
}

.card:hover>img {
    filter: grayscale(0);
    object-fit: cover;

}

.card__head {
    color: black;
    background: rgba(255, 30, 173, 0.75);
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
    transition: all 1s ease-in-out;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
}

.card:hover>.card__head {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transform: rotate(0);
    font-size: 2rem;
}

.bio {
    font-size: 1rem;
}

.description {
    margin: 0;
    padding: 0;
    height: 0rem;
    width: 0;
    display: none;
    transition-delay: 1s;
}

.card:hover .five::after {
    animation: cursor-blink 0.75s step-end infinite;
}

.card:hover .description {
    display: block;
    height: auto;
    text-align: left;
    font-size: 1rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 1s steps(100, end) 1 forwards;
}

.card:hover .one {
    animation-delay: 1s;

}

.card:hover .two {
    animation-delay: 2s;

}

.card:hover .three {
    animation-delay: 3s;

}

.card:hover .four {
    animation-delay: 4s;
}


.card:hover .five {
    animation-delay: 5s;

}

.description::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
}

.secthree {
    padding-inline: 1rem;
}

.wrapper {
    display: flex;
    text-align: center;
    margin-block: 1.5rem;
    gap: 12REM;
    align-items: center;
}

.wrapper h1 {
    font-size: 3.5rem;
}

.wrapper>* {
    flex: 1;
}

.wrapper>div:first-child {
    text-align: left;
    flex: 0.7;
    color: var(---Very-Dark-Magenta);

}

.stars>* {
    margin-block: 1rem;
    background-color: var(---Light-Grayish-Magenta);
    padding-block: 1rem;
    border-radius: 1rem;
    width: 70%;
    padding-inline: 1rem
}

.comment {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    row-gap: 4rem;
    color: var(---White);
    margin-block-end: 10rem;

}

.comment>* {
    background-color: var(---Very-Dark-Magenta);
    padding: 1rem;
    border-radius: 1rem;
    max-height: 15rem;
    overflow: hidden;


}

.comment img {
    border-radius: 50%;
    width: 5rem;
}

.comment>div>div {
    display: flex;
    gap: 1.4rem;
}

.quote {
    position: relative;
    --max-lines: 5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.quote::before {
    content: "“";
    position: absolute;
    top: 0;
    left: -10px;
    font-size: 2em;
}

.quote::after {
    content: "”";
    font-size: 2em;
}

.comment h5 {
    margin-bottom: 0%;
}

.comment h6 {
    color: var(---Soft-Pink);
    margin-top: 0;
}



p {
    line-height: 1.3rem;

}

.secthree {
    padding-inline: 5rem;
}

.stars>div:nth-child(2) {
    padding: 0;
    margin-left: 10%;
  
}


.stars>div:nth-child(3) {
    overflow: hidden;
    margin-left: 20%;

}

.comment>div:nth-child(3n-1) {
    translate: 0 17%;
}

.comment>div:nth-child(3n) {
    translate: 0 37%;
}

.votenow {
    padding: 2rem 1rem;
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #ff6347, #b4ab46);
    animation: gradientAnimation 1s ease infinite;
    color: white;
    font-size: 1.2rem;
    border: 0;
    width: 100%;
    border-radius: 1rem;
    text-transform: capitalize;
    background-size: 200% 100%;
    

}

.stars>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    color: aqua;
    font-weight: 2rem;
    font-size: 2rem;
}

footer ul {
    padding: 2rem;
    margin: 0;
    background-color: var(--Grayish-blue);
}



footer ul {
    background-color: inherit;
}

footer li {
    list-style: none;
    text-align: center;
}

footer li a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--Very-dark-blue);

}

footer li a {
    color: var(--Grayish-blue);
}


#phones {
    display: flex;
}

section {
    text-align: center;
    text-transform: capitalize;
    margin-block: 3rem;
}

.flexer {
    padding: 1.8rem;
    padding-inline: 4rem;
    display: flex;
    align-items: center;
    flex: 1;

}

footer {
    color: white;
    padding: 1rem;
    padding-top: 5rem;
    border-top-right-radius: 5rem;
    text-align: center;
    background-color: var(--fotor);
}

.flexer>* {
    flex: 1;
}

.tovote {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.441);
    display: none;
    z-index: 4;
    padding: 0;
    margin: 0;

}

.votecntr {
    opacity: 1;
    z-index: 99999999;
    background-color: var(---Very--light--grayish--cyan);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.tovote>div>p {
    margin: 0.4rem;
}

.fa-check {
    color: var(---Very--dark--cyan);
    font-size: 3rem;
    background-color: white;
    border-radius: 60%;
}


.voting-section {
    height: 80hv;
    text-align: center;
    padding: 2rem;
    margin: 5rem;
    /* display: block; */
    background-color: rgba(0, 0, 0, 0.94);
}

.voting-section i {
    color: blue;
    text-align: right;
    float: right;
    font-size: 1rem;
}

h2 {
    color: white;
    /* color: #333; */
}

.candid {
    display: inline-block;
    margin: 10px 15px;
    position: relative;
    overflow: hidden;
}

/* .voting-section>div{
    display: flex;
} */
.choosed figcaption img {
    outline: 1rem solid aquamarine;

}

.choosed .vote-btn {
    background-color: aquamarine;
}

.choosed:hover img,
.choosed:hover button,
.choosed:hover {
    transform: scale(1.01);
}

figcaption {
    width: 12rem;
    height: 12rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candid img {
    width: 80%;
    height: 80%;
    object-fit: fill;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.candid:hover img,
.candid:hover button,
.candid:hover {
    transform: scale(1.1);
}

.descript {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: bottom 0.3s ease;
    font-size: 0.5rem;
    /* border-radius: 50%; */
}

.candid:hover .descript {
    bottom: 0;
}

.descript h3 {
    margin: 10px 0;
}

.descript p {
    margin: 0;
    padding: 10px;
}

.vote-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.vote-btn:hover {
    background-color: #0056b3;
}

#done {
    background-color: aqua;

}

.laststep {
    padding: 2rem;
    background-color: var(---White);
    text-align: center;
    display: none;
}

.confrimation {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

#tobe {
    font-style: italic;
    color: aquamarine;
}

.finished {
    background: linear-gradient(to bottom, hsl(172, 79%, 35%), hsl(172, 79%, 55%), hsl(172, 79%, 70%));
    display: none;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes cursor-blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

@keyframes scroller {
    0% {
        translate: 0 0;
    }

    100% {}


}



.continer {
    height: 22rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 900px;
    transition: perspective 1s linear;
}

.box {
    height: 12rem;
    width: 12rem;
    transform-style: preserve-3d;
    transform: rotatey(0deg) rotateX(-20deg);

}

.box>div {
    position: absolute;
    height: 12rem;
    width: 12rem;
    color: white;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgoldenrodyellow;
}

.box>div:nth-child(2) {

    background-color: rgba(221, 221, 236, 0.459);
    transform: translatey(-50%) rotatex(90deg);
}

.box>div:nth-child(3) {
    background-color: rgba(221, 221, 236, 0.459);
    transform: translateX(50%) rotateY(90deg);

}

.box>div:nth-child(4) {
    background-color: rgba(221, 221, 236, 0.459);
    transform: translatey(50%) rotatex(-90deg);
}

.box>div:nth-child(5) {
    background-color: cornflowerblue;
    transform: translateX(-50%) rotateY(-90deg);
}

.box>div:nth-child(6) {
    transform: translateZ(-6rem) rotateY(180deg);
    background-color: white;
    color: rgba(0, 0, 0, 0.786);
}

.box>div:nth-child(7) {
    transform: translateZ(6rem);
    background-color: rgba(0, 0, 0, 0.626);
}

#top::after {
    content: '';
    position: absolute;
    width: 5rem;
    height: 1rem;
    outline: 0.5rem solid gray;
}

#cardd {
    background-color: hsl(172, 79%, 55%) !important;
    height: 4rem;
    width: 5rem;
    font-size: 0.8rem;
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: rgba(0, 0, 0, .5);
    animation: vot 3s 1;
    animation-fill-mode: forwards;
    padding: 1rem;

}

#return {
    transform: translateZ(80px);
}

#front .fas {
    background-color: rgba(0, 0, 0, 0);
    font-size: 4rem;
    color: aqua;
    border-radius: 0;
}

@keyframes vot {
    0% {
        top: -10rem;
    }

    80% {
        transform: rotateX(0deg);

    }

    100% {
        top: 9rem;
        transform: rotateX(-90deg) rotateZ(45deg);
    }
}