<!DOCTYPE html>
<html lang="en">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&amp;family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/vote.css}">
    <title>Document</title>
</head>

<body>
    <header>
        <!-- <h1 th:if="${voterId}">
            <p th:text="${voterId}"></p>
        </h1> -->

        <div class="logo">
            <figure>
                <img th:src="@{/image/logo2.png}" alt="">
            </figure>
            <h2>
                Ethiopia Election Board

                <p th:text="${message}"></p>
            </h2>
        </div>

        <nav>
            <ul>
                <li> <a href="#">home</a></li>
                <li> <a href="#">Announcment</a></li>
                <li> <a href="#">contact us</a></li>
                <li> <a href="#">About us</a></li>
            </ul>
            <div class="nav-buttons" th:if="${isSession}">
                <form action="/logout" method="get">
                    <button> log out</button>
                </form>
            </div>
            <div class="nav-buttons" th:unless="${isSession}">
                <form action="/login" method="get">
                    <button> login</button>
                </form>
                <form action="/login" method="get">
                    <button>signup</button>
                </form>
            </div>
        </nav>
        <section class="headtext">
            <div>
                <h1 class="topic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </h1>
                <p>udantium quia vel hic a est aperiam? Repellendus inventore ab neque dolorum? Aliquam in corrupti
                    totam fugit</p>
            </div>

        </section>
    </header>
    <main>
        <section class="sec-one">
            <div class="textone">
                <h1>
                    hello , voter
                </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio laudantium ut non aperiam
                    tempora
                    sit incidunt! Voluptatem, temporibus perferendis impedit nulla accusantium iste officia. Quaerat
                    alias
                    quibusdam et nulla numquam.</p>
            </div>
            <div>
                <img th:src="@{/image/vote1.png}" alt="">
            </div>
        </section>
        <section class="sec-two">
            <h1 class="candidates">:: candidates</h1>
            <div class="container" th:if="${candidates}">
                <div class="card" th:each="candidate:${candidates}">
                    <img th:src="${candidate.getimage()}" alt="">
                    <div class="card__head">
                        <h3 th:text="${candidate.getfname()+' '+candidate.getlname()}"></h3>
                        <p th:text="${candidate.getbio()}" class="bio">
                            <a href="#">more</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="secthree">
            <div class="wrapper">
                <div>
                    <h1> 10,000+ of voter registerd.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus molestiae fuga
                        adipisci, iusto quos architecto laudantium porro sint obcaecati. Ducimus molestias est ipsam
                        officia sequi, rerum cupiditate laudantium minus.
                    </p>
                </div>
                <div class="stars">
                    <div>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        place your vote
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                        </p>
                    </div>
                    <div id="vote">
                        <button id="votedalready" th:if="${isvoted == true} " class="votenow">
                            VOTED
                        </button>
                        <button id="votenow" th:unless="${isvoted == true}" class="votenow">
                            VOTE NOW
                        </button>
                    </div>
                    <div>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <span> choose your leader</span>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-up"></i>
                    </div>
                </div>
            </div>
            <div class="comment" th:if="${candidates}">
                <div th:each="candidate:${candidates}">
                    <div>
                        <img th:src="${candidate.getimage()}" alt="">
                        <span>
                            <h5 th:text="${candidate.getfname()+' '+candidate.getlname()}"></h5>
                            <h6>
                                poltician
                            </h6>
                        </span>
                    </div>
                    <p th:text="${candidate.getquote()}" class="quote">
                    </p>
                </div>
            </div>
            <section class="tovote">
                <div class="voting-section">
                    <i class="fas fa-times"></i>
                    <h2>Vote for Your Favorite Candidate</h2>
                    <div th:if="${candidates}">
                        <div class="candid" th:each="candidate:${candidates}">
                            <figcaption>
                                <img th:src="${candidate.getimage()}" alt="">
                                <div class="descript">
                                    <h3 th:text="${candidate.getfname()+' '+candidate.getlname()}"></h3>
                                    <p>Description of Candidate 1 Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                    </p>
                                </div>
                            </figcaption>
                            <button class="vote-btn">vote</button>
                        </div>
                    </div>
                    <form action="/99" method="post" class="toconfrim">
                        <button id="done">Done</button>
                    </form>
                </div>
                <div class="finished">
                    <div class="continer">
                        <div class="box">
                            <article id="cardd">
                                card
                            </article>
                            <div id="top">top</div>
                            <div id="right"></div>
                            <div id="bottom"></div>
                            <div id="left"></div>
                            <div id="back"></div>
                            <div id="front"> <i class="fas fa-check"></i>
                            </div>
                        </div>
                         <button id="return">RETURN</button> 
                    </div>
                </div>
                <div class="laststep">t 
                    <h1> are you Sure ?
                        you are going to choose <span id="tobe"></span>
                        as your leader for next five year
                    </h1>
                    <div class="confrimation">
                        <form action="" method="post" id="voting">
                            <button id="confirm">confirm</button>
                        </form>
                        <button id="cancel">cancel</button>
                    </div>
                </div>

            </section>
    </main>
    <footer>
        <div class="flexer">
            <div>
                <img th:src="@{/image/footer.png}" alt="">
            </div>
            <ul>
                <p> Product
                </p>
                <li><a href=""> Overview
                    </a></li>
                <li><a href=""> Pricing
                    </a></li>
                <li><a href=""> Marketplace
                    </a></li>
                <li><a href=""> Features
                    </a></li>
                <li><a href=""> Integrations
                    </a></li>
            </ul>
            <ul>
                <p> Company
                </p>

                <li><a href=""> About
                    </a></li>
                <li><a href=""> Team
                    </a></li>
                <li><a href=""> Blog
                    </a></li>
                <li><a href=""> Careers
                    </a></li>
            </ul>
            <ul>
                <p> Connect
                </p>
                <li><a href=""> Contact
                    </a></li>
                <li><a href=""> Newsletter
                    </a></li>
                <li><a href=""> LinkedIn
                    </a></li>

            </ul>
        </div>
    </footer>
</body>
<script th:src="@{/vote.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[# th:each="candidate : ${candidates}"]*/
    var candidates = /*[[ ${candidates} ]]*/[];
    /*[/]*/
    /*]]>*/
</script>

</html>